<header class="header">
    <h1><a (click)="goTo('')">Shop-Hub</a></h1>
    <span style="flex: 1;"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <span class="material-icons">
            apps
        </span>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goTo('signin')" *ngIf="username === 'guest'">
            <span class="material-icons">
                loyalty
            </span>
            <span>signIn</span>
        </button>
        <button mat-menu-item (click)="goTo('signin')" *ngIf="username === 'guest'">
            <span class="material-icons">
                lock_open
            </span>
            <span>signUp</span>
        </button>

        <button (click)="goTo('')" *ngIf="username !== 'guest'" mat-menu-item>
            <span class="material-icons">
                home
            </span>
            <span>Home</span>
        </button>

        <button mat-menu-item (click)="goTo('dashboard')" *ngIf="username !== 'guest'">
            <span class="material-icons">
                dashboard
            </span>
            <span>Dashboard</span>
        </button>

        <button mat-menu-item (click)="goTo('categories')">
            <span class="material-icons">
                category
            </span>
            <span>Categories</span>
        </button>
    </mat-menu>
    <span style="flex: 1;"></span>
    <app-cart-info [itemsCount]="productLength" [vendorSpotsCount]="vendorSpotsLength"></app-cart-info>
</header>
