.cart-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart-dialog-feature_actions {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.accordion {
    width: 100%;
}
