<button (click)="login()">login</button>
<section>
    <button (click)="getProducts()">all products</button>
    <button (click)="getProductsById()">product by id</button>
    <button (click)="getProductsByCategory()">products by category</button>
    <button (click)="getProductsByName()">product by name</button>
</section>
<section>
    <button (click)="getVendorSpots()">all vendor spots</button>
    <button (click)="getVendorSpotsById()">all vendor spot by id</button>
</section>
<section>
    <button (click)="addItemToTheCart()">add item to cart</button>
    <button (click)="reduceItemFromCart()">reduce item in cart</button>
    <button (click)="deleteItemFromCart()">delete item from cart</button>
</section>
<section>
    <button (click)="newOrder()">new order</button>
    <button (click)="getOrderHistory()">orders history</button>
</section>
<button (click)="nav()"></button>
