<mat-card class="products-feature" [style]="thin ? 'height:100px' : 'height:350px'">
    <mat-card-header>
        <div *ngIf="headerImg" mat-card-avatar class="products-feature_header-image" style="margin-top:-18px;"></div>
        <mat-card-title>{{ amount && product.amount ? product.name + '(' + product.amount + ')' : product.name }}</mat-card-title>
        <mat-card-subtitle>{{ categories ? product.categories : total && amount ? product.price * product.amount : '' }}</mat-card-subtitle>
    </mat-card-header>
    <img
        *ngIf="image"
        [style.width]="imgWidth"
        mat-card-image
        src="https://picsum.photos/seed/picsum/300/200"
        alt="Photo of a Shiba Inu"
    />
    <mat-card-content *ngIf="description">
        <p>
            {{ product.description }}
        </p>
    </mat-card-content>
    <mat-card-actions class="products-feature_actions"
        ><button *ngIf="!allBtns" mat-button (click)="dispatch(product)">
            <span class="material-icons">
                add_shopping_cart
            </span>
            Add to Cart {{ total && amount ? product.price * product.amount : product.price }}
        </button>
        <button *ngIf="allBtns" mat-button (click)="dispatch(product)">
            <span class="material-icons">
                exposure_plus_1
            </span>
        </button>
        <button *ngIf="allBtns" mat-button (click)="reduce(product._id)">
            <span class="material-icons">
                exposure_neg_1
            </span>
        </button>
        <button *ngIf="allBtns" mat-button (click)="delete(product._id)">
            <span class="material-icons">
                delete
            </span>
        </button>
    </mat-card-actions>
</mat-card>
