<mat-card class="products-feature">
    <mat-card-header>
        <div *ngIf="headerImg" mat-card-avatar class="products-feature_header-image"></div>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.categories }}</mat-card-subtitle>
    </mat-card-header>
    <img
        [style.width]="imgWidth"
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
        alt="photo"
    />
    <mat-card-content>
        <p>
            {{ product.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="dispatch(product)">
            <span class="material-icons">
                add_shopping_cart
            </span>
            Add to Cart
        </button>
    </mat-card-actions>
</mat-card>
