<section>
    <h2>Shops</h2>
    <app-vendors-spots-feature></app-vendors-spots-feature>
</section>
<mat-divider></mat-divider>
<section>
    <h2><a (click)="goTo('categories')">Categories</a></h2>
    <app-categories-feature [limit]="4" [imageWidth]="'220px'" [showAllBtn]="true"></app-categories-feature>
</section>
<mat-divider></mat-divider>
<section>
    <h2>Products from all shops</h2>
    <app-products-feature [limit]="7" [imageWidth]="'220px'" [showAllBtn]="true"></app-products-feature>
</section>
